* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.search-bar {
  border: none;
  outline: none;
  max-width: 350px;
  width: 100%;
}

.category-btn {
  display: flex;
  justify-content: start;
  outline: none;
  background: transparent;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
  padding: 10px 20px;
}

.category-btn:hover {
  color: white !important;
  background: #ff0000;
}

.category-btn:hover span {
  color: white !important;
}

.video_card_wrappaer {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(20rem, 558.974vw - 88.301rem, 156.25rem))
  );
  gap: 2px;
  justify-content: center;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: black;
  padding: 0px;
}

.videoDetailPlayer {
  display: flex;
  gap: 5px;
}

.videoPlayer {
  height: 77vh;
}

.videoPlayerWrap {
  width: 75%;
}

.suggested_video {
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .videoDetailPlayer {
    flex-direction: column;
  }
  .videoPlayerWrap {
    width: 100%;
  }
  .suggested_video {
    width: 100%;
  }
}
